---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="About" currentPath="/about">
  <div class="content">
    <h1 class="post-title">About</h1>

    <h2>Hi, I'm Max!</h2>

    <p>I am a consultant on a custom software development team. I am the only person on the team who doesn't know how to code, so I'm frequently referred to as a business analyst, product manager, scrum master, project manager, and other very hurtful names. Sometimes I have ideas that other people would rather not publish, so I have my own blog so that nobody can tell me no.</p>

    <p>I work so that I can feed my favorite 3 human beings as well as my fur baby, Gerri. One day, we may do something crazy like move to the beach!</p>

    <h2>What I Write About</h2>

    <p>On this blog, I share thoughts on strategy, marketing, technology, and family. What I write might not be correct, but it's how I see the world. If I'm wrong, I would love for you to tell me so that I can get it right in the future. I've had the privilege of working with blue chips, Dow components, startups, Best Places to Work, really crummy companies, and everything in between. Hopefully my insights reflect the gamut.</p>

    <h2>Get in Touch</h2>

    <p>Feel free to reach out at <a href="mailto:maxhfrancis@gmail.com">maxhfrancis@gmail.com</a>.</p>
  </div>
</BaseLayout>
