---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts'))
  .filter(p => !p.data.draft)
  .sort((a, b) => (b.data.date?.valueOf() ?? 0) - (a.data.date?.valueOf() ?? 0));

const currentPath = '/';
---
<BaseLayout currentPath={currentPath}>
  <div class="content">
    {posts.map(post => (
      <article class="post-card">
        <a href={`/post/${post.slug}`} class="post-card__title">{post.data.title}</a>
        {post.data.description && (
          <p class="post-card__excerpt">{post.data.description}</p>
        )}
      </article>
    ))}
  </div>
</BaseLayout>
