---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Others" description="A curated collection of posts and articles from across the web that Max Francis thinks are cool" currentPath="/others">
  <div class="content">
    <h1 class="post-title">Others</h1>

    <p>Posts and articles from across the web that I think are cool (basically a bookmark of my favorites).</p>

    <ul>
      <li><a href="https://seths.blog/" target="_blank" rel="noopener">Seth's Blog</a> — <em>Seth Godin</em> — All of it.</li>
      <li><a href="https://waitbutwhy.com/2014/05/fermi-paradox.html" target="_blank" rel="noopener">The Fermi Paradox</a> — <em>Tim Urban</em> — I believe in aliens, and the thought of Earth being an obnoxious neighbor that everyone wants to keep quiet jives.</li>
      <li><a href="https://www.experimental-history.com/p/the-decline-of-deviance" target="_blank" rel="noopener">The Decline of Deviance</a> — <em>Adam Mastroianni</em> — I like weird, and I wish we had more of it.</li>
    </ul>
  </div>
</BaseLayout>
